.checked {
    color: orange;
}
.bg-green {
    color: #28B0A6;
    background-color: #28b0a762;
}
.image_div {
    min-height: 200px;
    background-size: cover;
    border-radius: 20px;
}
.form-check-input:checked {
    background-color: #26D0CE !important;
    border-color: #26D0CE !important;
}
.rounded-50 {
    border-radius: 50px;
}
.border-left-0 {
    border-left: none !important;
}
.border-right-0 {
    border-right: none !important;
}
#nav .nav-tabs {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
}
#nav .nav-tabs .nav-link {
    white-space: nowrap;
}
.btn_gradient {
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE 51%, #1A2980 100%);
    /* margin: 10px; */
    padding: 15px 45px;
    text-align: center;
    /* text-transform: uppercase; */
    transition: 0.5s;
    background-size: 200% auto;
    color: white !important;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}
.btn_gradient:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
.accordion-button::after {
    background-size: 0.8rem !important;
}
.accordion-button .rounded-circle {
    padding: 4px 9px 4px 9px !important;
}
/* testimonial */
.owl-carousel .owl-item img {
    display: block;
    width: 50% !important;
}
.owl-carousel .item .card {
    border: none !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
    border-radius: 20px;
}
.item {
    padding: 5px;
}
.nav-tabs .nav-link.active {
    text-decoration: none !important;
    color: #26D0CE !important;
    background-color: #fff;
    border: none !important;
    font-weight: bolder;
}
/* testimonial */
/* increment counter  */
.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.quantity__minus,
.quantity__plus {
    display: block;
    width: 22px;
    height: 23px;
    margin: 0;
    background: #DEE0EE;
    text-decoration: none;
    text-align: center;
    line-height: 23px;
}
.quantity__minus:hover,
.quantity__plus:hover {
    background: #575B71;
    color: #fff;
}
.quantity__minus {
    border-radius: 3px 0 0 3px;
}
.quantity__plus {
    border-radius: 0 3px 3px 0;
}
.quantity__input {
    width: 32px;
    height: 23px;
    margin: 0;
    padding: 0;
    text-align: center;
    border-top: 2px solid #DEE0EE;
    border-bottom: 2px solid #DEE0EE;
    border-left: 1px solid #DEE0EE;
    border-right: 2px solid #DEE0EE;
    background: #fff;
    color: #8184A1;
}
.quantity__minus:link,
.quantity__plus:link {
    color: #8184A1;
}
.quantity__minus:visited,
.quantity__plus:visited {
    color: #fff;
}
/* sliderrange */
/* carousil */
.gallery {
    display: flex;
    position: relative;
    width: 100%;
    height: 460px;
    border-radius: 5px;
    overflow: hidden;
}
.main-image-section {
    width: 80%;
    padding: 10px;
}
.main-view {
    width: 100%;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.caption-container {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100px;
    bottom: -100px;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.main-image-section:hover .caption-container {
    bottom: 0;
    opacity: 1;
}
#caption {
    font-size: 42px;
    color: #fff;
    padding: 10px;
}
#info {
    padding: 0 10px;
    color: #ccc;
}
.thumbnails {
    width: 20%;
    padding: 10px;
    max-height: 460px;
    overflow-y: auto;
}
.thumbnails img {
    width: 100%;
    opacity: 0.7;
    padding-bottom: 5px;
    border-radius: 15px;
    cursor: pointer;
    -webkit-transition: opacity 0.3s ease 0s;
    -moz-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
}
.thumbnails img:hover {
    opacity: 1;
}
.thumbnails img:focus {
    opacity: 1
}
/* carousil */