@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -moz-font-family: 'Poppins', sans-serif;
 -webkit-font-family: 'Poppins', sans-serif;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* index page */

.navigationBar {
    box-shadow: 0 1px 4px rgba(255, 255, 255, 0.5);
}

.bg_image {
    min-height: 500px;
    background-image: url("../img/1.png");
    background-size: cover;
    transition: all 3s;
}

.bg_image:hover {
    transform: scale(1.040);
}

.overlay::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    bottom: 0%;
    opacity: .4;
}

header {
    /* background: url('../img/apm1.webp'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}


/* banner input div */

.box {
    left: 50%;
    transform: translate(-50%, 60%);
    padding: 40px;
    background: rgba(0, 0, 0, 0.7);
    -moz-background: rgba(0, 0, 0, 0.7);
    -webkit-background: rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.box .inputBox {
    position: relative;
}

.box .inputBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #FFF;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #FFF;
    outline: none;
    background: transparent;
}

.box .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #FFF;
    pointer-events: none;
    transition: .5s;
    animation: LabelOnLoad 1s forwards 0s ease;
}

@keyframes LabelOnLoad {
    0% {
        transform: rotate(0) translateY(-19px);
        opacity: 0;
    }
    100% {
        transform: rotate(0) translateY(0);
        opacity: 1;
    }
}

.box .inputBox input:focus~label,
.box .inputBox input:valid~label {
    top: -19px;
    left: 0;
    color: #03A9F4;
    font-size: 12px;
}


/* banner input div */

.div h6 {
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: #fff !important;
}

.bg-lightest {
    --bs-bg-opacity: .7;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity))!important;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff !important;
    text-decoration: none;
}

.wrapper input[type="text"] {
    position: relative;
}

.wrapper input[type="text"]:before {
    font-family: 'Font Awesome 6 Free';
    position: absolute;
    top: 0px;
    left: -5px;
    content: "\f271";
}

.faa-icon {
    color: black;
    background-color: #fff;
    border-radius: 50%;
}

.checked {
    color: #F6A624 !important;
}


/*banner-div h1*/


/*banner-div h1*/

.mt-30 {
    margin-top: 30% !important;
}


/*best seller  */

.image_div {
    min-height: 200px;
    background-size: cover;
    border-radius: 20px;
}


/*best seller  */


/* Search Bar */

.search-btn {
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: maroon;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
}

.search-input {
    border: none;
    float: left;
    outline: none;
    padding: 0;
    color: #ffff;
    font-size: 20px;
    transition: 0.4s;
    line-height: 35px;
    width: 0;
    font-size: 16px;
    letter-spacing: 1px;
    border-bottom: 1px solid #FFF;
    background: transparent;
}

.search-box:hover>.search-input {
    width: 250px;
    padding: 0 7px;
}

.wrapper::placeholder {
    color: #fff;
}


/* Search Bar */


/* tradition css */
.tradition{
    /* background-image: url('../img/Nakamichi_footer.webp'); */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    /*display: inline-block;*/
}
.text_Wrapper_section{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
}

/* fa-icons */

.icons i {
    color: #ffff;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #dfe9f5;
}

.icons i:hover {
    color: #fff !important;
    background: #07001f;
    transition: 1s;
}

.icons i:first-child {
    color: red;
}

.icons i:last-child {
    color: blue;
}

/* fa-icons */
/* tradition css */

@media (min-width: 300px) and (max-width: 767px) {
    .box {
        left: 50%;
        transform: translate(-50%,);
        padding: 40px;
        background: rgba(0, 0, 0, 0.7);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
        border-radius: 10px;
        width: 100% !important;
    }
    header {
        height: 150vh;
    }
}

@media (min-width: 250px) and (max-width: 576px) {
    .text_Wrapper_section{
        width: 90%;
        font-size: 13px;
    }
}
@media (max-width: 300px) {
    .text_Wrapper_section{
        width: 80%;
        height: 50%;
        font-size: 9px;
    }
}
@media (min-width: 768px) {
    .box {
       
        width: 75% !important;
    }
}


/* index page */